/* =========================
   SKILLS
========================= */

.skills-grid{

  display:grid;

  grid-template-columns:
  repeat(3,1fr);

  gap:32px;

  margin-top:70px;
}

.skill-card{

  background:var(--glass);

  border:
  1px solid var(--line);

  padding:42px 34px;

  transition:0.4s ease;

  backdrop-filter:blur(12px);
}

.skill-card:hover{

  transform:
  translateY(-7px);

  box-shadow:
  0 14px 35px var(--shadow);
}

.skill-card h3{

  font-family:
  'Cormorant Garamond',serif;

  font-size:36px;

  margin-bottom:28px;
}

.skill-tags{

  display:flex;

  flex-wrap:wrap;

  gap:14px;
}

.skill-tags span{

  border:
  1px solid var(--line);

  padding:9px 16px;

  font-size:13px;

  background:
  rgba(255,255,255,0.65);

  transition:0.35s ease;
}

.skill-tags span:hover{

  background:var(--pink);

  color:white;
}

