/* =========================
   MOBILE
========================= */

@media(max-width:768px){

  .spirit-chat{

    width:95%;

    right:2.5%;

    height:72vh;

    bottom:105px;
  }

  .spirit-bot{

    width:72px;

    height:72px;

    right:20px;

    bottom:20px;
  }

  .bot-notification{

    right:20px;

    bottom:105px;

    width:230px;

    font-size:13px;
  }
}

@media(max-width:480px){

  .spirit-chat{

    height:70vh;
  }

  .suggestions{

    gap:8px;
  }

  .suggestions button{

    font-size:11px;

    padding:8px 12px;
  }
}

